@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #FAFAFA transparent;
  }

  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #FAFAFA;
    border-radius: 14px;
  }
  body {
    @apply bg-bg-primary text-text-primary
  }
}
@layer components {
  .btn_slide {
    @apply text-white text-4xl max-sm:hidden rounded-full duration-200 hover:bg-card-primary
  }

  .loading_pokeball {
    @apply flex items-center justify-center relative animate-pokeball-loading after:absolute after:content-[''] after:w-10 after:h-10 after:rounded-full after:blur-sm after:bg-red-600 after:animate-pulse after:mt-1.5
  }

  .container_cards {
    @apply inline-grid min-h-screen grid-cols-3 gap-11 max-[1050px]:grid-cols-2 max-md:grid-cols-1
  }

  .list_types {
    @apply space-y-3
  }

  .list_types li {
    @apply flex items-center gap-3 flex-wrap text-2xl font-semibold tracking-wide
  }

  .container_type_info {
    @apply w-full max-h-[520px] overflow-auto my-6 py-6 px-14 space-y-8 bg-card-primary rounded-lg drop-shadow-[6px_6px_4px_rgba(0,0,0,0.35)]
  }

  .container_pokemon_info {
    @apply flex items-center gap-2
  }
}
